


<%= form_for @householdaccountbook do |f|%>

<div class="form-group">
  <%= f.label :income, "収入" %>
  <%= f.text_field :income, class "form-control"%>
</div>


<div class="form-groupe">
  f
</div>

<%end%>
